<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.twitter"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.TwitterApplication"
        android:allowBackup="true"
        android:icon="@drawable/twitter"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="twitter"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TimeLineActivity"
            android:label="@string/home_timeline">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.TweetDetailActivity"
            android:label="@string/tweet"
            android:parentActivityName=".activities.TimeLineActivity" android:windowSoftInputMode="adjustPan"/>
        <service
            android:name=".service.TwitterDBSaveService"
            android:exported="false"/>
    </application>

</manifest>